body { padding-top: 70px; }
.word { font-size: 250%; font-weight: 300;}
.month { padding-top: 50px; margin-top: -50px; margin-bottom: 10px; border-bottom: 1px solid #999999;}
.word a { display: block; color: #222;}
.word a:hover { display: block; color: #008cba; text-decoration: none;}
.program { margin-bottom: 0;}
.about { padding-top: 50px; margin-top: -50px; margin-bottom: 20px;}
#about {margin-bottom: 10px; border-bottom: 1px solid #999999; padding-bottom: 40px;}