<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>in a word :: Australian current affairs 2003-2013</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">in a word...</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#about">About</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Years <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for year in data %}
              <li><a href="#{{ year.year }}">{{ year.year }}</a></li>
            {% endfor %}
          </ul>
        </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <div class="container">
      <div class="row">
        <header class="col-md-12 jumbotron">
          <h1>in a word...<br><small>Currents in Australian affairs, 2003&ndash;2013</small></h1>
        </header>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 id="about">About</h2>
          <p>What can you read in a single word? Drawing on the details of ABC Radio current affairs programs stored in Trove, this page presents a word a month from AM, The World Today, and PM.</p>
        </div>
      </div>
      {% for year in data %}
        {% for row in year.rows %}
          <div class="row month"{% if loop.first %} id="{{ year.year }}"{% endif %}>
            <div class="col-md-3">
              <h4>{{ row.title }}</h4>
            </div>
            <div class="col-md-3">
              <p class="program text-muted">AM</p>
              <p class="word">
              <a title="Search Trove for {{ row.am }}" href="http://trove.nla.gov.au/music/result?l-decade={{ year.year|string|truncate(3, True,'') }}&l-year={{ year.year }}&q=nuc%3A%22ABC%3ARN%22+%22ABC Radio. AM%22+text%3A%22{{ row.am }}%22">{{row.am }}</a>
              </p>
            </div>
            <div class="col-md-3">
              {{ row.world }}
            </div>
            <div class="col-md-3">
              <p class="program text-muted">PM</p>
              <p class="word">
              <a title="Search Trove for {{ row.pm }}" href="http://trove.nla.gov.au/music/result?l-decade={{ year.year|string|truncate(3, True,'') }}&l-year={{ year.year }}&q=nuc%3A%22ABC%3ARN%22+%22ABC Radio. PM%22+text%3A%22{{ row.pm }}%22">{{row.pm }}</a>
              </p>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>